In [3]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
bank_marketing = fetch_ucirepo(id=222) 
  
# data (as pandas dataframes) 
X = bank_marketing.data.features 
Y = bank_marketing.data.targets 
  
# metadata 
print(bank_marketing.metadata) 
  
# variable information 
print(bank_marketing.variables)

{'uci_id': 222, 'name': 'Bank Marketing', 'repository_url': 'https://archive.ics.uci.edu/dataset/222/bank+marketing', 'data_url': 'https://archive.ics.uci.edu/static/public/222/data.csv', 'abstract': 'The data is related with direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a term deposit (variable y).', 'area': 'Business', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 45211, 'num_features': 16, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Occupation', 'Marital Status', 'Education Level'], 'target_col': ['y'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 2014, 'last_updated': 'Fri Aug 18 2023', 'dataset_doi': '10.24432/C5K306', 'creators': ['S. Moro', 'P. Rita', 'P. Cortez'], 'intro_paper': {'title': 'A data-driven approach to predict the success of bank telemarketing', 'authors': 'SÃ©rgio Moro, P. Cortez, P. Rita', 'published_in': 'Decision Support Systems', 'year': 2014, 'url': 'https://www.semanticscholar.org/paper/cab86052882d126d43f72108c6cb41b295cc8a9e', 'doi': '10.1016/j.dss.2014.03.001'}, 'additional_info': {'summary': "The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed. \n\nThere are four datasets: \n1) bank-additional-full.csv with all examples (41188) and 20 inputs, ordered by date (from May 2008 to November 2010), very close to the data analyzed in [Moro et al., 2014]\n2) bank-additional.csv with 10% of the examples (4119), randomly selected from 1), and 20 inputs.\n3) bank-full.csv with all examples and 17 inputs, ordered by date (older version of this dataset with less inputs). \n4) bank.csv with 10% of the examples and 17 inputs, randomly selected from 3 (older version of this dataset with less inputs). \nThe smallest datasets are provided to test more computationally demanding machine learning algorithms (e.g., SVM). \n\nThe classification goal is to predict if the client will subscribe (yes/no) a term deposit (variable y).", 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Input variables:\n   # bank client data:\n   1 - age (numeric)\n   2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",\n                                       "blue-collar","self-employed","retired","technician","services") \n   3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)\n   4 - education (categorical: "unknown","secondary","primary","tertiary")\n   5 - default: has credit in default? (binary: "yes","no")\n   6 - balance: average yearly balance, in euros (numeric) \n   7 - housing: has housing loan? (binary: "yes","no")\n   8 - loan: has personal loan? (binary: "yes","no")\n   # related with the last contact of the current campaign:\n   9 - contact: contact communication type (categorical: "unknown","telephone","cellular") \n  10 - day: last contact day of the month (numeric)\n  11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")\n  12 - duration: last contact duration, in seconds (numeric)\n   # other attributes:\n  13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)\n  14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)\n  15 - previous: number of contacts performed before this campaign and for this client (numeric)\n  16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")\n\n  Output variable (desired target):\n  17 - y - has the client subscribed a term deposit? (binary: "yes","no")\n', 'citation': None}}
           name     role         type      demographic  \
0           age  Feature      Integer              Age
1           job  Feature  Categorical       Occupation
2       marital  Feature  Categorical   Marital Status
3     education  Feature  Categorical  Education Level
4       default  Feature       Binary             None
5       balance  Feature      Integer             None
6       housing  Feature       Binary             None
7          loan  Feature       Binary             None
8       contact  Feature  Categorical             None
9   day_of_week  Feature         Date             None
10        month  Feature         Date             None
11     duration  Feature      Integer             None
12     campaign  Feature      Integer             None
13        pdays  Feature      Integer             None
14     previous  Feature      Integer             None
15     poutcome  Feature  Categorical             None
16            y   Target       Binary             None

                                          description  units missing_values
0                                                None   None             no
1   type of job (categorical: 'admin.','blue-colla...   None             no
2   marital status (categorical: 'divorced','marri...   None             no
3   (categorical: 'basic.4y','basic.6y','basic.9y'...   None             no
4                              has credit in default?   None             no
5                              average yearly balance  euros             no
6                                   has housing loan?   None             no
7                                  has personal loan?   None             no
8   contact communication type (categorical: 'cell...   None            yes
9                        last contact day of the week   None             no
10  last contact month of year (categorical: 'jan'...   None             no
11   last contact duration, in seconds (numeric). ...   None             no
12  number of contacts performed during this campa...   None             no
13  number of days that passed by after the client...   None            yes
14  number of contacts performed before this campa...   None             no
15  outcome of the previous marketing campaign (ca...   None            yes
16          has the client subscribed a term deposit?   None             no

In [4]:
import pandas as pd
import numpy as np
import time

In [5]:
df = pd.DataFrame(X)
df.head()

df_model = df.iloc[:,0:4]
df_model.dropna(inplace=True)
df_model['marital'] = df_model['marital'].str.replace("divorced", "single")

In [6]:
df_model_1 = df_model.reset_index(drop=True)
df_model_1

       age           job  marital  education
0       58    management  married   tertiary
1       44    technician   single  secondary
2       33  entrepreneur  married  secondary
3       35    management  married   tertiary
4       28    management   single   tertiary
...    ...           ...      ...        ...
43188   51    technician  married   tertiary
43189   71       retired   single    primary
43190   72       retired  married  secondary
43191   57   blue-collar  married  secondary
43192   37  entrepreneur  married  secondary

[43193 rows x 4 columns]

In [7]:
bagÄ±msÄ±z_age = df_model_1.iloc[:,[0]]
bagÄ±msÄ±z_age

       age
0       58
1       44
2       33
3       35
4       28
...    ...
43188   51
43189   71
43190   72
43191   57
43192   37

[43193 rows x 1 columns]

In [8]:
bagÄ±msÄ±z_age

       age
0       58
1       44
2       33
3       35
4       28
...    ...
43188   51
43189   71
43190   72
43191   57
43192   37

[43193 rows x 1 columns]

In [9]:
bagÄ±mlÄ± = df_model_1.iloc[:,2:3]
bagÄ±mlÄ±

       marital
0      married
1       single
2      married
3      married
4       single
...        ...
43188  married
43189   single
43190  married
43191  married
43192  married

[43193 rows x 1 columns]

In [10]:
bagÄ±msÄ±z_job = df_model_1.iloc[:,[1]]
bagÄ±msÄ±z_job.head()

            job
0    management
1    technician
2  entrepreneur
3    management
4    management

In [11]:
from sklearn import preprocessing
bagÄ±msÄ±z_job = bagÄ±msÄ±z_job.values

ohe = preprocessing.OneHotEncoder() 
bagÄ±msÄ±z_job = ohe.fit_transform(bagÄ±msÄ±z_job).toarray()
print(bagÄ±msÄ±z_job)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]]

In [12]:
bagÄ±msÄ±z_education = df_model_1.iloc[:,[3]]
bagÄ±msÄ±z_education

       education
0       tertiary
1      secondary
2      secondary
3       tertiary
4       tertiary
...          ...
43188   tertiary
43189    primary
43190  secondary
43191  secondary
43192  secondary

[43193 rows x 1 columns]

In [13]:
from sklearn import preprocessing
bagÄ±msÄ±z_education = bagÄ±msÄ±z_education.values

ohe = preprocessing.OneHotEncoder() 
bagÄ±msÄ±z_education = ohe.fit_transform(bagÄ±msÄ±z_education).toarray()
print(bagÄ±msÄ±z_education)

[[0. 0. 1.]
 [0. 1. 0.]
 [0. 1. 0.]
 ...
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]]

In [14]:
bagÄ±msÄ±z_job_sonuc= pd.DataFrame(data=bagÄ±msÄ±z_job,columns=["admin","blue-collar","entrepreneur","management","retired","self-employed","services","housemaid","student","technician","unemployed"])
bagÄ±msÄ±z_job_sonuc.head()

,admin,blue-collar,entrepreneur,management,retired,self-employed,services,housemaid,student,technician,unemployed
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
bagÄ±msÄ±z_education_sonuc= pd.DataFrame(data=bagÄ±msÄ±z_education,columns=["tertiary","secondary","primary"])
bagÄ±msÄ±z_education_sonuc.head()

   tertiary  secondary  primary
0       0.0        0.0      1.0
1       0.0        1.0      0.0
2       0.0        1.0      0.0
3       0.0        0.0      1.0
4       0.0        0.0      1.0

In [16]:
# burada kaldÄ±m yukarÄ±daki kodlar okey # b => baÄÄ±msÄ±zlarÄ±n dataframei, df_model_last ise genel model dataframei


# b => baÄÄ±msÄ±zlarÄ±n dataframei, df_model_last ise genel model dataframei

a = pd.concat([bagÄ±msÄ±z_education_sonuc,bagÄ±msÄ±z_job_sonuc],axis=1)
b = pd.concat([a,bagÄ±msÄ±z_age],axis=1)
df_model_last = pd.concat([b,bagÄ±mlÄ±],axis=1)
df_model_last

,tertiary,secondary,primary,admin,blue-collar,entrepreneur,management,retired,self-employed,services,housemaid,student,technician,unemployed,age,marital
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,58,married
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,44,single
2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33,married
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,35,married
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,28,single
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43188,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,51,married
43189,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,71,single
43190,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,72,married
43191,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57,married
43192,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,37,married

In [17]:
b_values = b.values

In [18]:
bagÄ±mlÄ±_values = bagÄ±mlÄ±.values

# Part 2:
Build a classifier based on KNN (K=4 for testing) using Manhattan distance.  
You are expected to code the KNN classifier by yourself. 
Report performance using an appropriate k-fold cross validation using confusion matrices on the given dataset.  
Report the run time performance of your above tests.

In [19]:
#verilerin egitim ve test icin bolunmesi
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(b_values,bagÄ±mlÄ±_values,test_size=0.33, random_state=0)

In [20]:
x_train

array([[ 0.,  1.,  0., ...,  0.,  1., 42.],
       [ 0.,  1.,  0., ...,  0.,  0., 33.],
       [ 0.,  1.,  0., ...,  0.,  0., 29.],
       ...,
       [ 1.,  0.,  0., ...,  0.,  0., 49.],
       [ 0.,  0.,  1., ...,  0.,  0., 40.],
       [ 1.,  0.,  0., ...,  0.,  0., 42.]])

In [21]:
x_test

array([[ 0.,  1.,  0., ...,  0.,  0., 34.],
       [ 0.,  1.,  0., ...,  0.,  0., 47.],
       [ 0.,  0.,  1., ...,  0.,  0., 30.],
       ...,
       [ 0.,  1.,  0., ...,  0.,  0., 60.],
       [ 1.,  0.,  0., ...,  0.,  0., 49.],
       [ 0.,  0.,  1., ...,  0.,  0., 50.]])

In [22]:
#Ã¶znitelik Ã¶lÃ§ekleme
#veriler standartlaÅtÄ±rÄ±ldÄ±

from sklearn.preprocessing import StandardScaler

sc = StandardScaler() 

X_train = sc.fit_transform(x_train)  #bÃ¼yÃ¼k X e dÃ¶nÃ¼ÅtÃ¼rdÃ¼k
X_test = sc.transform(x_test)

In [23]:
X_train.shape

(28939, 15)

In [24]:
X_test.shape

(14254, 15)

In [25]:
y_test.shape

(14254, 1)

In [26]:
y_train.shape

(28939, 1)

In [27]:
#KNN !
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=4, metric='manhattan') #parametre vericemi komÅu defoultu 5   
#neighbors sayÄ±sÄ±nÄ± azalttÄ±k ve matrixde sonuÃ§ inanÄ±lmaz deÄiÅti.

knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
#Buradan sonra confision matrixi kullanacam.

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [28]:
#confusion matrix

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred) 
print(cm)

[[7316 1263]
 [3851 1824]]

# Part 3: 
* Build a classifier based on linear SVM. 
* You may use an available implementation of SVM in Python. 
* Report performance using an appropriate k-fold cross validation using ROC curves and confusion matrices. 
* Report the run time performance of your above tests.

In [29]:
from sklearn.svm import SVC 
svc = SVC(kernel = 'poly') #regresyondaki lineer polinomial vs yazdÄ±ÄÄ±mÄ±z parametrenin adÄ± kernel idi.

#linear ile doÄrsular bir ayrÄ±m arayacak 
svc.fit(X_train,y_train)
y_pred = svc.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [30]:
cm = confusion_matrix(y_test,y_pred)
print('SVC_poly')
print(cm)

SVC_poly
[[6797 1782]
 [2944 2731]]

# Part 4:
Build a classifier based on polynomial SVM.  
You may use an available implementation of SVM in Python. 
Report performance using an appropriate k-fold cross validation using ROC curves and confusion matrices. Find the best threshold for the SVM output as described in the note by Fawcett.  
Report the run time performance of your above tests.

In [31]:
svc_linear = SVC(kernel = 'linear') #regresyondaki lineer polinomial vs yazdÄ±ÄÄ±mÄ±z parametrenin adÄ± kernel idi.

#linear ile doÄrsular bir ayrÄ±m arayacak 
svc_linear.fit(X_train,y_train)
y_pred2 = svc_linear.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [32]:
y_pred2

array(['married', 'married', 'single', ..., 'married', 'married',
       'married'], dtype=object)

In [33]:
from sklearn.metrics import confusion_matrix
cm2 = confusion_matrix(y_test,y_pred2)
print('SVC_linear')
print(cm2)

SVC_linear
[[6754 1825]
 [2884 2791]]

# Part 1:
Build a classifier based on KNN (K=4 for testing) using Euclidean distance.   
You are expected to code the KNN classifier by yourself. 
Report performance using an appropriate k-fold cross validation using confusion matrices on the given dataset. 
Report the run time performance of your above tests.

In [34]:
import numpy as np
from collections import Counter

from numpy.linalg import norm



class KNearestNeighbors:
    


    def euclidean(a, b):
        
        """Compute and return the euclidean distance between a and b."""
        return norm(a-b)

    def __init__(self, k=3, distance_metric=euclidean):
        """Initialize k value and distance metric used for model."""
        self.k = k
        self.distance = distance_metric
        self.data = None

    def train(self, X, y):
        """Zip labels and input data together for classification."""
        # raise value error if inputs are wrong length or different types
        if len(X) != len(y) or type(X) != type(y):
            raise ValueError("X and y are incompatible.")
        # convert ndarrays to lists
        if type(X) == np.ndarray:
            X, y = X.tolist(), y.tolist()
        # set data attribute containing instances and labels
        self.data = [X[i]+[y[i]] for i in range(len(X))]

    def predict(self, a):
        """Predict class based on k-nearest neighbors."""
        neighbors = []
        # create mapping from distance to instance
        distances = {self.distance(x[:-1], a): x for x in self.data}
        # collect classes of k instances with shortest distance
        for key in sorted(distances.keys())[:self.k]:
            neighbors.append(distances[key][-1])
        # return most common vote
        return max(set(neighbors), key=neighbors.count)

In [37]:
#KNN !
from sklearn.neighbors import KNeighborsClassifier

knn2 = KNearestNeighbors(k=4) #parametre vericemi komÅu defoultu 5   
#neighbors sayÄ±sÄ±nÄ± azalttÄ±k ve matrixde sonuÃ§ inanÄ±lmaz deÄiÅti.

knn2.train(X_train,y_train)
y_pred2 = knn.predict(X_test)

In [38]:
#confusion matrix

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred2) 
print(cm)

[[7316 1263]
 [3851 1824]]